In [1]:
import pandas as pd
import pygtrie

In [19]:
df = pd.read_csv("../data/nasdaq_listed_companies.csv")

In [20]:
df.head()

  symbol                                       name        country
0      A     Agilent Technologies Inc. Common Stock  United States
1     AA            Alcoa Corporation Common Stock   United States
2  AACBU           Artius II Acquisition Inc. Units  United States
3   AADI          Aadi Bioscience Inc. Common Stock  United States
4    AAL  American Airlines Group Inc. Common Stock  United States

In [21]:
df['clean_name'] = df['name'].str.replace(r'\s+(Common Stock|Units|Common Stock |Units )$', '', regex=True)

In [22]:
df['Response'] = df['symbol'] + ' - ' + df['clean_name']

df.head()

,symbol,name,country,clean_name,Response
0,A,Agilent Technologies Inc. Common Stock,United States,Agilent Technologies Inc.,A - Agilent Technologies Inc.
1,AA,Alcoa Corporation Common Stock,United States,Alcoa Corporation,AA - Alcoa Corporation
2,AACBU,Artius II Acquisition Inc. Units,United States,Artius II Acquisition Inc.,AACBU - Artius II Acquisition Inc.
3,AADI,Aadi Bioscience Inc. Common Stock,United States,Aadi Bioscience Inc.,AADI - Aadi Bioscience Inc.
4,AAL,American Airlines Group Inc. Common Stock,United States,American Airlines Group Inc.,AAL - American Airlines Group Inc.

In [ ]:
# Create a Trie data structure
trie = pygtrie.CharTrie()

# Insert symbols into the Trie
for symbol in df['Response'].astype(str):
    trie[symbol] = True

print(list(trie.keys(prefix='MSFT')))
print("Trie data structure has been created successfully.")

['MSFT - Microsoft Corporation']
Trie data structure has been created successfully.